* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515;
  color: white;
}

.planet-name {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  text-transform: capitalize;
}

.planet-name::before {
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
}
